.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #f0f2f5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px; /* уменьшенная высота */
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.nav-buttons > * {
	margin-left: 10px;
}

.logo a {
	font-weight: bold;
	font-size: 2rem;
	color: #1677ff; /* Устанавливаем синий цвет */
	text-decoration: none; /* Убираем подчеркивание */
}

.logo a:visited {
	color: #1677ff; /* Устанавливаем синий цвет для посещенных ссылок */
}

.logo a:hover {
	color: #1677ff; /* Устанавливаем синий цвет для ссылок при наведении */
}
